body {
	background-color: #FFF;
	color: #343a40;
	font-size: 16px; 
	font-family: 'Noto Sans', sans-serif;
	line-height: 1.5;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	left: 0;	
	top: 0;
	-webkit-text-size-adjust: none;
	display: flex;
  	justify-content: center;
}

.mammoth-minds {
	// @import 'compass/css3';

	@import 'utilities/variables';
	@import 'utilities/simple-grid';
	@import 'utilities/typography';
	@import 'utilities/normalize';
	@import 'utilities/fonts';
	@import 'utilities/buttons';
	@import 'utilities/universal-classes';
	@import 'utilities/forms';	

	// Sections
	@import 'sections/head';
	@import 'sections/body';
	@import 'sections/footer';

	// Pages
	@import 'pages/homepage';	
	@import 'pages/contact';
	@import 'pages/services';		
	@import 'pages/about-us';
	@import 'pages/case-study';		
}

.modal-open {
	overflow: hidden;
}
