button, .btn {
	font-family: $base-font;
	padding: 10px 15px;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	text-transform: capitalize;
	text-decoration: none;
	letter-spacing: 0;
	width: auto;
	position: relative;
	border: none;
	transition: all 0.3s ease 0s;
	font-size: 16px;

	&.primary-dark-blue {
		background-color: $brand-dark-blue;
		border: 1px solid $brand-dark-blue;
		color: $white;
	}

	&.primary {
		background-color: $brand-red + 20;
		border: 1px solid $brand-red + 20;
		color: $white;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

		&:hover {
			background-color: $white;
			color: $brand-red;
			border: 1px solid $brand-red;
		}
	}

	&.neutral {
		border: 1px solid $brand-red;
		color: $brand-red;
		background-color: transparent;

		&:hover {
			background-color: $brand-red + 20;
			color: $white;
		}
	}

	&.large {
		padding: 15px 30px;
		font-size: 18px;
	}

	&.expand {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}