.contact-form{ 

    .input-block{
        background-color: $gray1;
        border: solid 1px $gray3;
        border-radius: 3px;
        padding: 20px 15px 15px 15px;
        position: relative;
        margin-bottom: 20px;
        // @include transition(all 0.3s ease-out);
        
        &.focus{
            background-color: $white;
        }
        
        &.textarea{
            height: auto;
            
            .form-control{
                height: auto;
                resize: none;
            }
        }
        
        label{
            position: absolute;
            left: 15px;
            top: 28px;
            display: block;
            margin: 0;
            font-weight: 300;
            z-index: 1;
            color: $gray8;
            font-size: 14 px;
            line-height: 10px;
        }

        input, textarea {

            &:focus {
                margin-top: 10px;
                outline-color: $brand-dark-blue;
            }
        }

        .form-control{
            background-color: transparent;
            border: none;
            height: 32px;
            position: relative;
            z-index: 2;
            font-size: 14px;
            color: $gray8;
            width: 100%;
            margin-top: 8px;
        }
    }
}

//tablet and above devices
@media (min-width: 768px) { 
  .contact-wrap{
    width: 60%;
    margin: auto;
  }
}
