p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
	margin: 1.414em 0 0.5em;
 	font-weight: inherit;
 	line-height: 1.2;
}

h1, .h1 {
 	margin-top: 0;
    font-size: 3.157em;
}

h2, .h2 {font-size: 2.369em;}

h3, .h3 {font-size: 1.777em;}

h4, .h4 {font-size: 1.333em;}

small, .font-small {font-size: 0.75em;}

.bold { font-weight: 700; }

/* Text-alignment */ 
.t-center { text-align: center; }
.t-right { text-align: right; }
.t-left { text-align: left; }

/* Font Color */ 
.t-white {
	color: $white;
}

.t-gray {
	color: $gray4;
}

.t-green {
	color: $green;
}