// Classes that are used globally
/*
	Borders
	Buttons and Link
	Cards
	Display and Visibility	
	Errors	
	Margins and Paddings
	Positions
	Floats
	Shadow
	Navigation
*/

// Borders
.add-border {
	border-radius: 3px; 
}

.border {
	height: 5px;
	background-color: $brand-red;
}

// Card
.card {
	background-color: $white;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 8px 15px 0 rgba(60, 60, 60, 0.20);
}

.shadow {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

// Horizontal Scroller
.scroll-wrapper {
	white-space: nowrap;
	overflow-x: scroll;

	.card {
		display: inline-block;
		width: 70%;
	}
}

// Card
.wrapper-card {
    background-color: $white;
    border-radius: 3px;
}

// Links
.dark-link {
	color: $gray8;

	&:hover {
		color: $gray8 + 20;
	}
}

.white-link {
	color: $white;
}

.bordered-link {
	border-bottom: 1px solid $brand-red;
	padding-bottom: 5px;
}

// Shadow
.add-shadow {
	box-shadow: 0 3px 3px rgba(74, 74, 74, .20)
}

// Visibility / Display / Opacity
.d-hidden { display: none; }

.opacity-7 {
	opacity: .7;
}

.block-center {
	margin: 0 auto;
	display: block;
}

// Errors
.validation-error {
    color: #f03e3e;

    &.input-details {
        margin-top: -10px;
        margin-bottom: 30px;
    }
}

// Floats
.fl-right { float: right; }
.fl-left { float: left; }

// Positions
.pos-relative { position: relative; }
.pos-absolute { position: absolute; }

// Margins
.m0 { margin: 0 !important; }
.m5 { margin: 5px; }
.m10 { margin: 10px; }

.mt0 { margin-top: 0 !important; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }

.mb0 { margin-bottom: 0; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.mb40 { margin-bottom: 40px; }

.mr0 { margin-right: 0 !important; }
.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }

.ml0 { margin-left: 0 !important; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }


// Paddings
.p0 { padding: 0 !important; }
.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p20 { padding: 20px; }
.p30 { padding: 30px; }
.p40 { padding: 40px; }
.p50 { padding: 50px; }

.pt0 { padding-top: 0; }
.pt5 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt30 { padding-top: 30px; }
.pt40 { padding-top: 40px; }

.pb0 { padding-bottom: 0; }
.pb5 { padding-bottom: 5px; }
.pb10 { padding-bottom: 10px; }
.pb20 { padding-bottom: 20px; }
.pb30 { padding-bottom: 30px; }
.pb40 { padding-bottom: 40px; }

.pr5 { padding-right: 5px; }
.pr10 { padding-right: 10px; }
.pr15 { padding-right: 15px; }
.pr20 { padding-right: 20px; }
.pr30 { padding-right: 30px; }

.pl5 { padding-left: 5px; }
.pl10 { padding-left: 10px; }
.pl15 { padding-left: 15px; }
.pl20 { padding-left: 20px; }
.pl30 { padding-left: 30px; }

// Navigations
nav {
	&.horizontal {
		a {
			display: inline-block;
		}
	}

	&.vertical {
		a {
			display: block;
		}
	}
}

ul {
	list-style: none;
	&.nopad {
		padding: 0;
	}
}