/* Variables that are used site wide */

// Screen Resolutions
$sm-mobile: 318px; 
$l-mobile: 750px;
$tablet: 767px;
$sm-desktop: 800px;

// Typeface
$base-font: 'Work Sans', sans-serif;

// Brand Colors
$brand-dark-blue: #0E2F56;
$brand-light-blue: #189BFA;
$brand-pastel-blue: #98B3BB;
$brand-red: #E81D3F;
$brand-yellow: #ECECDA;

// Neutrals
$white: #FFFFFF;
$gray0: #F8F9FA;
$gray1: #F1F3F5;
$gray2: #E9ECEF;
$gray3: #DEE2E6;
$gray4: #CED4DA;
$gray6: #868E96;
$gray7: #495057;
$gray8: #343A40;
$black-2: #212529;
$pastel-gray: #6A7785;


//Blue
$blue-form: #0B88E0;

// Green
$green: #2f9e44;