/* About Us Page Styles*/

#about-us {
	width: 100%;
	// Mobile
    @media only screen  and ( min-width: $sm-mobile) and (max-width: $l-mobile ){
        .desktop { display: none; }
        #process {
            img {
                width: 80%;
                margin: 0 auto;
                display: block;
            }
        }
    }

    // Desktop 
    @media only screen  and ( min-width: $tablet) {
        .mobile { display: none; } 

        #process {
            img {
                width: 85%;
            }
        }
    }
}