/* Styles for Case Study Page*/ 
#case-study {
	width: 100%;

	// Mobile
    @media only screen  and ( min-width: $sm-mobile) and (max-width: $l-mobile ){
        .desktop { display: none; }
    }

    // Desktop 
    @media only screen  and ( min-width: $tablet) {
        .mobile { display: none; } 

    }	
}