#homepage {
    width: 100%;

    .typewriter span {
        display: inline-block;
        overflow: hidden;
        color: $brand-red;
        border-right:  .214285714em solid $brand-red;
        white-space: nowrap;
        margin: 0;
        padding: 5px 0;
        animation: blink-caret .75s step-end infinite;

        // Figure out how to make this not follow block width
        // animation: typing 2s steps(40, end), blink-caret .75s step-end infinite;
    }
    
    /* Type Effect*/
    // @keyframes typing {
    //     from { width: 0}
    //     to { width: 100% }
    // }

    /* Cursor Effect */ 
    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: $brand-red }
    }

    // Mobile
    @media only screen  and ( min-width: $sm-mobile) and (max-width: $l-mobile ){
        .desktop { display: none; } 
        
        
        .visual-branding-graphics {
            img {
                width: 80%;
                display: block;
                margin: 0 auto;
            }
        }

        .hero-content {
            img {
                display: none;
            }
        }

        #services {
            article {
                padding-bottom: 80px;
                
                img {
                    width: 80%;
                    margin: 0 auto;
                    display: block;
                }
            }
        }
    }

    // Desktop 
    @media only screen  and ( min-width: $tablet) {
        .mobile { display: none; } 

        .web-customization-graphics {
            img {
                width: 300px;
            }
        }

        .visual-branding-graphics {
            img {
                width: 280px;
            }
        }

        .userinterface-development-graphics, .illustration-graphic-design-graphics {
            img {
                width: 260px;
            }
        }

        .social-media-management-graphics {
            img {
                width: 260px;
            }
        }

        #hero-wrapper {
            img {
                width: 55%;
                right: 0;
                top: 20px;
                margin-right: -40px;
                z-index: -1;
            }

            .sub-content {
                width: 600px;
            }
        }

        #works {
            .row {
                .col-6 {
                    width: 48%;
                }
            }
        }

    }
}