/* Services Styles */ 

#services {

	// Mobile
    @media only screen  and ( min-width: $sm-mobile) and (max-width: $l-mobile ){
        .desktop { display: none; }

        section > article {
            padding-bottom: 80px;
            
            img {
                width: 80%;
                margin: 0 auto;
                display: block;
            }

        	&:last-of-type{
        		padding-bottom: 30px;
        	}
        }
        
        .visual-branding-graphics {
            img {
                width: 80%;
                display: block;
                margin: 0 auto;
            }
        }
    }

    // Desktop 
    @media only screen  and ( min-width: $tablet) {
        width: 100%;
        
        .mobile { display: none; } 

        section > article {
            padding-bottom: 130px;
            
        	&:last-of-type{
        		padding-bottom: 30px;
        	}
        }

        .web-customization-graphics {
            img {
                width: 300px;
            }
        }

        .visual-branding-graphics {
            img {
                width: 330px;
            }
        }

        .userinterface-development-graphics, .illustration-graphic-design-graphics {
            img {
                width: 340px;
            }
        }

        .social-media-management-graphics {
            img {
                width: 300px;
            }
        }

    }	
}