body {
  background-color: #FFF;
  color: #343a40;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  -webkit-text-size-adjust: none;
  display: flex;
  justify-content: center; }

.mammoth-minds {
  /* Variables that are used site wide */
  /* Text-alignment */
  /* Font Color */
  /*! normalize.css v3.0.0 | MIT License | git.io/normalize */
  /**
   * 1. Set default font family to sans-serif.
   * 2. Prevent iOS text size adjust after orientation change, without disabling
   *    user zoom.
   */
  /**
   * Remove default margin.
   */
  /* HTML5 display definitions
     ========================================================================== */
  /**
   * Correct `block` display not defined in IE 8/9.
   */
  /**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
  /**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
  /**
   * Address `[hidden]` styling not present in IE 8/9.
   * Hide the `template` element in IE, Safari, and Firefox < 22.
   */
  /* Links
     ========================================================================== */
  /**
   * Remove the gray background color from active links in IE 10.
   */
  /**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
  /* Text-level semantics
     ========================================================================== */
  /**
   * Address styling not present in IE 8/9, Safari 5, and Chrome.
   */
  /**
   * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
   */
  /**
   * Address styling not present in Safari 5 and Chrome.
   */
  /**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari 5, and Chrome.
   */
  /**
   * Address styling not present in IE 8/9.
   */
  /*
    List
  */
  /**
   * Address inconsistent and variable font size in all browsers.
   */
  /**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
  /* Embedded content
     ========================================================================== */
  /**
   * Remove border when inside `a` element in IE 8/9.
   */
  /**
   * Correct overflow displayed oddly in IE 9.
   */
  /* Grouping content
     ========================================================================== */
  /**
   * Address margin not present in IE 8/9 and Safari 5.
   */
  /**
   * Address differences between Firefox and other browsers.
   */
  /**
   * Contain overflow in all browsers.
   */
  /**
   * Address odd `em`-unit font size rendering in all browsers.
   */
  /* Forms
     ========================================================================== */
  /**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */
  /**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
   */
  /**
   * Address `overflow` set to `hidden` in IE 8/9/10.
   */
  /**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8+, and Opera
   * Correct `select` style inheritance in Firefox.
   */
  /**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
  /**
   * Re-set default cursor for disabled elements.
   */
  /**
   * Remove inner padding and border in Firefox 4+.
   */
  /**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
  /**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
  /**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */
  /**
   * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
   *    (include `-moz` to future-proof).
   */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
  /**
   * Define consistent border, margin, and padding.
   */
  /**
   * 1. Correct `color` not being inherited in IE 8/9.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */
  /**
   * Remove default vertical scrollbar in IE 8/9.
   */
  /**
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */
  /* Tables
     ========================================================================== */
  /**
   * Remove most spacing between table cells.
   */
  /* Hide iframe for google conversion tracker */
  @import url(//fonts.googleapis.com/css?family=Noto+Sans:400,700);
  /*
  	Borders
  	Buttons and Link
  	Cards
  	Display and Visibility	
  	Errors	
  	Margins and Paddings
  	Positions
  	Floats
  	Shadow
  	Navigation
  */
  /*  Styles for site head    */
  /* 
      Styles that can be used in different body sections
  
      Contents:
      - Icons alignment
      - Contact and newsletter subscribe background
      -
  */
  /* Footer Styles */
  /* Services Styles */
  /* About Us Page Styles*/
  /* Styles for Case Study Page*/ }
  .mammoth-minds .container {
    min-width: 320px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto; }
    @media only screen and (min-width: 33.75em) {
      .mammoth-minds .container {
        width: 80%; } }
    @media only screen and (min-width: 60em) {
      .mammoth-minds .container {
        width: 80%;
        max-width: 68rem; } }
  .mammoth-minds .row {
    position: relative;
    width: 100%; }
  .mammoth-minds .row [class^="col"] {
    float: left;
    margin: 0.5rem 2%;
    min-height: 0.125rem; }
  .mammoth-minds .row::after {
    content: "";
    display: table;
    clear: both; }
  .mammoth-minds .col-1,
  .mammoth-minds .col-2,
  .mammoth-minds .col-3,
  .mammoth-minds .col-4,
  .mammoth-minds .col-5,
  .mammoth-minds .col-6,
  .mammoth-minds .col-7,
  .mammoth-minds .col-8,
  .mammoth-minds .col-9,
  .mammoth-minds .col-10,
  .mammoth-minds .col-11,
  .mammoth-minds .col-12 {
    width: 96%; }
  .mammoth-minds .col-1-sm {
    width: 4.33333%; }
  .mammoth-minds .col-2-sm {
    width: 12.66667%; }
  .mammoth-minds .col-3-sm {
    width: 21%; }
  .mammoth-minds .col-4-sm {
    width: 29.33333%; }
  .mammoth-minds .col-5-sm {
    width: 37.66667%; }
  .mammoth-minds .col-6-sm {
    width: 46%; }
  .mammoth-minds .col-7-sm {
    width: 54.33333%; }
  .mammoth-minds .col-8-sm {
    width: 62.66667%; }
  .mammoth-minds .col-9-sm {
    width: 71%; }
  .mammoth-minds .col-10-sm {
    width: 79.33333%; }
  .mammoth-minds .col-11-sm {
    width: 87.66667%; }
  .mammoth-minds .col-12-sm {
    width: 96%; }
  @media only screen and (min-width: 45em) {
    .mammoth-minds .col-1 {
      width: 4.33333%; }
    .mammoth-minds .col-2 {
      width: 12.66667%; }
    .mammoth-minds .col-3 {
      width: 21%; }
    .mammoth-minds .col-4 {
      width: 29.33333%; }
    .mammoth-minds .col-5 {
      width: 37.66667%; }
    .mammoth-minds .col-6 {
      width: 46%; }
    .mammoth-minds .col-7 {
      width: 54.33333%; }
    .mammoth-minds .col-8 {
      width: 62.66667%; }
    .mammoth-minds .col-9 {
      width: 71%; }
    .mammoth-minds .col-10 {
      width: 79.33333%; }
    .mammoth-minds .col-11 {
      width: 87.66667%; }
    .mammoth-minds .col-12 {
      width: 96%; }
    .mammoth-minds .hidden-sm {
      display: block; } }
  .mammoth-minds p {
    margin-bottom: 1.3em; }
  .mammoth-minds h1, .mammoth-minds h2, .mammoth-minds h3, .mammoth-minds h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2; }
  .mammoth-minds h1, .mammoth-minds .h1 {
    margin-top: 0;
    font-size: 3.157em; }
  .mammoth-minds h2, .mammoth-minds .h2 {
    font-size: 2.369em; }
  .mammoth-minds h3, .mammoth-minds .h3 {
    font-size: 1.777em; }
  .mammoth-minds h4, .mammoth-minds .h4 {
    font-size: 1.333em; }
  .mammoth-minds small, .mammoth-minds .font-small {
    font-size: 0.75em; }
  .mammoth-minds .bold {
    font-weight: 700; }
  .mammoth-minds .t-center {
    text-align: center; }
  .mammoth-minds .t-right {
    text-align: right; }
  .mammoth-minds .t-left {
    text-align: left; }
  .mammoth-minds .t-white {
    color: #FFFFFF; }
  .mammoth-minds .t-gray {
    color: #CED4DA; }
  .mammoth-minds .t-green {
    color: #2f9e44; }
  .mammoth-minds html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */ }
  .mammoth-minds audio,
  .mammoth-minds canvas,
  .mammoth-minds progress,
  .mammoth-minds video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */ }
  .mammoth-minds audio:not([controls]) {
    display: none;
    height: 0; }
  .mammoth-minds [hidden],
  .mammoth-minds template {
    display: none; }
  .mammoth-minds a {
    background: transparent;
    text-decoration: none;
    color: #E81D3F;
    transition: all 0.3s ease 0s; }
    .mammoth-minds a:hover {
      pointer: cursor;
      color: #ff597b; }
  .mammoth-minds a:active,
  .mammoth-minds a:hover {
    outline: 0; }
  .mammoth-minds abbr[title] {
    border-bottom: 1px dotted; }
  .mammoth-minds b,
  .mammoth-minds strong {
    font-weight: bold; }
  .mammoth-minds dfn {
    font-style: italic; }
  .mammoth-minds mark {
    background: #ff0;
    color: #000; }
  .mammoth-minds li {
    line-height: 1.8em;
    margin-bottom: 1em; }
  .mammoth-minds small {
    font-size: 80%; }
  .mammoth-minds sub,
  .mammoth-minds sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  .mammoth-minds sup {
    top: -0.5em; }
  .mammoth-minds sub {
    bottom: -0.25em; }
  .mammoth-minds img {
    border: 0;
    max-width: 100%;
    vertical-align: middle; }
  .mammoth-minds svg:not(:root) {
    overflow: hidden; }
  .mammoth-minds figure {
    margin: 1em 40px; }
  .mammoth-minds hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0; }
  .mammoth-minds pre {
    overflow: auto;
    white-space: pre-line; }
  .mammoth-minds pre code {
    font-size: 14px; }
  .mammoth-minds code,
  .mammoth-minds kbd,
  .mammoth-minds pre,
  .mammoth-minds samp {
    font-family: monospace, monospace;
    font-size: 1em; }
  .mammoth-minds button,
  .mammoth-minds input,
  .mammoth-minds optgroup,
  .mammoth-minds select,
  .mammoth-minds textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */ }
  .mammoth-minds textarea {
    resize: vertical; }
  .mammoth-minds button {
    overflow: visible; }
  .mammoth-minds button,
  .mammoth-minds select {
    text-transform: none; }
  .mammoth-minds button,
  .mammoth-minds html input[type="button"],
  .mammoth-minds input[type="reset"],
  .mammoth-minds input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */ }
  .mammoth-minds button[disabled],
  .mammoth-minds html input[disabled] {
    cursor: default; }
  .mammoth-minds button::-moz-focus-inner,
  .mammoth-minds input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .mammoth-minds input {
    line-height: normal; }
  .mammoth-minds input[type="checkbox"],
  .mammoth-minds input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */ }
  .mammoth-minds input[type="number"]::-webkit-inner-spin-button,
  .mammoth-minds input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  .mammoth-minds input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box; }
  .mammoth-minds input[type="search"]::-webkit-search-cancel-button,
  .mammoth-minds input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
  .mammoth-minds fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em; }
  .mammoth-minds legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */ }
  .mammoth-minds textarea {
    overflow: auto; }
  .mammoth-minds optgroup {
    font-weight: bold; }
  .mammoth-minds table {
    border-collapse: collapse;
    border-spacing: 0; }
  .mammoth-minds td,
  .mammoth-minds th {
    padding: 0; }
  .mammoth-minds iframe[name~="google_conversion_frame"] {
    display: none !important;
    height: 0 !important; }
  .mammoth-minds hr {
    border: 0;
    border-bottom: 1px solid #f1f3f5; }
  .mammoth-minds button, .mammoth-minds .btn {
    font-family: "Work Sans", sans-serif;
    padding: 10px 15px;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 0;
    width: auto;
    position: relative;
    border: none;
    transition: all 0.3s ease 0s;
    font-size: 16px; }
    .mammoth-minds button.primary-dark-blue, .mammoth-minds .btn.primary-dark-blue {
      background-color: #0E2F56;
      border: 1px solid #0E2F56;
      color: #FFFFFF; }
    .mammoth-minds button.primary, .mammoth-minds .btn.primary {
      background-color: #fc3153;
      border: 1px solid #fc3153;
      color: #FFFFFF;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
      .mammoth-minds button.primary:hover, .mammoth-minds .btn.primary:hover {
        background-color: #FFFFFF;
        color: #E81D3F;
        border: 1px solid #E81D3F; }
    .mammoth-minds button.neutral, .mammoth-minds .btn.neutral {
      border: 1px solid #E81D3F;
      color: #E81D3F;
      background-color: transparent; }
      .mammoth-minds button.neutral:hover, .mammoth-minds .btn.neutral:hover {
        background-color: #fc3153;
        color: #FFFFFF; }
    .mammoth-minds button.large, .mammoth-minds .btn.large {
      padding: 15px 30px;
      font-size: 18px; }
    .mammoth-minds button.expand, .mammoth-minds .btn.expand {
      width: 100%;
      padding-left: 0;
      padding-right: 0; }
  .mammoth-minds .add-border {
    border-radius: 3px; }
  .mammoth-minds .border {
    height: 5px;
    background-color: #E81D3F; }
  .mammoth-minds .card {
    background-color: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 8px 15px 0 rgba(60, 60, 60, 0.2); }
  .mammoth-minds .shadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
  .mammoth-minds .scroll-wrapper {
    white-space: nowrap;
    overflow-x: scroll; }
    .mammoth-minds .scroll-wrapper .card {
      display: inline-block;
      width: 70%; }
  .mammoth-minds .wrapper-card {
    background-color: #FFFFFF;
    border-radius: 3px; }
  .mammoth-minds .dark-link {
    color: #343A40; }
    .mammoth-minds .dark-link:hover {
      color: #484e54; }
  .mammoth-minds .white-link {
    color: #FFFFFF; }
  .mammoth-minds .bordered-link {
    border-bottom: 1px solid #E81D3F;
    padding-bottom: 5px; }
  .mammoth-minds .add-shadow {
    box-shadow: 0 3px 3px rgba(74, 74, 74, 0.2); }
  .mammoth-minds .d-hidden {
    display: none; }
  .mammoth-minds .opacity-7 {
    opacity: .7; }
  .mammoth-minds .block-center {
    margin: 0 auto;
    display: block; }
  .mammoth-minds .validation-error {
    color: #f03e3e; }
    .mammoth-minds .validation-error.input-details {
      margin-top: -10px;
      margin-bottom: 30px; }
  .mammoth-minds .fl-right {
    float: right; }
  .mammoth-minds .fl-left {
    float: left; }
  .mammoth-minds .pos-relative {
    position: relative; }
  .mammoth-minds .pos-absolute {
    position: absolute; }
  .mammoth-minds .m0 {
    margin: 0 !important; }
  .mammoth-minds .m5 {
    margin: 5px; }
  .mammoth-minds .m10 {
    margin: 10px; }
  .mammoth-minds .mt0 {
    margin-top: 0 !important; }
  .mammoth-minds .mt5 {
    margin-top: 5px; }
  .mammoth-minds .mt10 {
    margin-top: 10px; }
  .mammoth-minds .mt20 {
    margin-top: 20px; }
  .mammoth-minds .mt30 {
    margin-top: 30px; }
  .mammoth-minds .mt40 {
    margin-top: 40px; }
  .mammoth-minds .mb0 {
    margin-bottom: 0; }
  .mammoth-minds .mb10 {
    margin-bottom: 10px; }
  .mammoth-minds .mb20 {
    margin-bottom: 20px; }
  .mammoth-minds .mb30 {
    margin-bottom: 30px; }
  .mammoth-minds .mb40 {
    margin-bottom: 40px; }
  .mammoth-minds .mr0 {
    margin-right: 0 !important; }
  .mammoth-minds .mr5 {
    margin-right: 5px; }
  .mammoth-minds .mr10 {
    margin-right: 10px; }
  .mammoth-minds .mr15 {
    margin-right: 15px; }
  .mammoth-minds .mr20 {
    margin-right: 20px; }
  .mammoth-minds .ml0 {
    margin-left: 0 !important; }
  .mammoth-minds .ml5 {
    margin-left: 5px; }
  .mammoth-minds .ml10 {
    margin-left: 10px; }
  .mammoth-minds .ml15 {
    margin-left: 15px; }
  .mammoth-minds .ml20 {
    margin-left: 20px; }
  .mammoth-minds .p0 {
    padding: 0 !important; }
  .mammoth-minds .p10 {
    padding: 10px; }
  .mammoth-minds .p15 {
    padding: 15px; }
  .mammoth-minds .p20 {
    padding: 20px; }
  .mammoth-minds .p30 {
    padding: 30px; }
  .mammoth-minds .p40 {
    padding: 40px; }
  .mammoth-minds .p50 {
    padding: 50px; }
  .mammoth-minds .pt0 {
    padding-top: 0; }
  .mammoth-minds .pt5 {
    padding-top: 5px; }
  .mammoth-minds .pt10 {
    padding-top: 10px; }
  .mammoth-minds .pt15 {
    padding-top: 15px; }
  .mammoth-minds .pt20 {
    padding-top: 20px; }
  .mammoth-minds .pt30 {
    padding-top: 30px; }
  .mammoth-minds .pt40 {
    padding-top: 40px; }
  .mammoth-minds .pb0 {
    padding-bottom: 0; }
  .mammoth-minds .pb5 {
    padding-bottom: 5px; }
  .mammoth-minds .pb10 {
    padding-bottom: 10px; }
  .mammoth-minds .pb20 {
    padding-bottom: 20px; }
  .mammoth-minds .pb30 {
    padding-bottom: 30px; }
  .mammoth-minds .pb40 {
    padding-bottom: 40px; }
  .mammoth-minds .pr5 {
    padding-right: 5px; }
  .mammoth-minds .pr10 {
    padding-right: 10px; }
  .mammoth-minds .pr15 {
    padding-right: 15px; }
  .mammoth-minds .pr20 {
    padding-right: 20px; }
  .mammoth-minds .pr30 {
    padding-right: 30px; }
  .mammoth-minds .pl5 {
    padding-left: 5px; }
  .mammoth-minds .pl10 {
    padding-left: 10px; }
  .mammoth-minds .pl15 {
    padding-left: 15px; }
  .mammoth-minds .pl20 {
    padding-left: 20px; }
  .mammoth-minds .pl30 {
    padding-left: 30px; }
  .mammoth-minds nav.horizontal a {
    display: inline-block; }
  .mammoth-minds nav.vertical a {
    display: block; }
  .mammoth-minds ul {
    list-style: none; }
    .mammoth-minds ul.nopad {
      padding: 0; }
  .mammoth-minds .contact-form .input-block {
    background-color: #F1F3F5;
    border: solid 1px #DEE2E6;
    border-radius: 3px;
    padding: 20px 15px 15px 15px;
    position: relative;
    margin-bottom: 20px; }
    .mammoth-minds .contact-form .input-block.focus {
      background-color: #FFFFFF; }
    .mammoth-minds .contact-form .input-block.textarea {
      height: auto; }
      .mammoth-minds .contact-form .input-block.textarea .form-control {
        height: auto;
        resize: none; }
    .mammoth-minds .contact-form .input-block label {
      position: absolute;
      left: 15px;
      top: 28px;
      display: block;
      margin: 0;
      font-weight: 300;
      z-index: 1;
      color: #343A40;
      font-size: 14 px;
      line-height: 10px; }
    .mammoth-minds .contact-form .input-block input:focus, .mammoth-minds .contact-form .input-block textarea:focus {
      margin-top: 10px;
      outline-color: #0E2F56; }
    .mammoth-minds .contact-form .input-block .form-control {
      background-color: transparent;
      border: none;
      height: 32px;
      position: relative;
      z-index: 2;
      font-size: 14px;
      color: #343A40;
      width: 100%;
      margin-top: 8px; }
  @media (min-width: 768px) {
    .mammoth-minds .contact-wrap {
      width: 60%;
      margin: auto; } }
  .mammoth-minds #site-head .logo-text {
    font-family: 'Montserrat', sans-serif;
    color: #0E2F56; }
  @media only screen and (min-width: 318px) and (max-width: 750px) {
    .mammoth-minds #site-head.desktop {
      display: none; }
    .mammoth-minds #site-head #brand-logo img {
      width: 2.142857143em;
      vertical-align: text-bottom; }
    .mammoth-minds #site-head #menu-nav.modal {
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      border: 0px;
      width: 100%;
      height: 100%;
      background: #FFFFFF;
      z-index: 1; }
      .mammoth-minds #site-head #menu-nav.modal .close {
        top: 20px;
        right: 20px; }
    .mammoth-minds #site-head #menu-nav nav a {
      border-bottom: 1px solid #E9ECEF; } }
  @media only screen and (min-width: 767px) {
    .mammoth-minds #site-head img {
      width: 50px; }
    .mammoth-minds #site-head nav {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      align-content: stretch; }
      .mammoth-minds #site-head nav a {
        margin-left: 25px;
        color: #495057; }
        .mammoth-minds #site-head nav a:hover {
          border-bottom: 1px solid #343A40;
          padding-bottom: 3px;
          color: #343A40; }
    .mammoth-minds #site-head .active {
      border-bottom: 1px solid #343A40;
      padding-bottom: 3px;
      color: #343A40;
      font-weight: 700; }
    .mammoth-minds #site-head .logo-text {
      font-size: 20px; }
    .mammoth-minds #site-head #brand-logo img {
      vertical-align: sub; }
    .mammoth-minds #site-head #brand-logo:hover {
      border-bottom: none !important; }
    .mammoth-minds #site-head.mobile {
      display: none; } }
  .mammoth-minds .material-icons {
    vertical-align: middle; }
  .mammoth-minds .wrapper-background {
    background-image: linear-gradient(to right top, #0E2F56, #17487c, #1d62a4, #1e7ece, #189BFA); }
  .mammoth-minds .sub-content {
    width: 750px; }
  @media only screen and (min-width: 767px) {
    .mammoth-minds #contact-us {
      padding: 80px 0; }
      .mammoth-minds #contact-us .card {
        width: 700px;
        margin: 0 auto; } }
  .mammoth-minds #works {
    background-color: #E9ECEF; }
    .mammoth-minds #works article img {
      width: 100%; }
    .mammoth-minds #works article small {
      color: #868E96; }
    .mammoth-minds #works .card-width {
      width: 75%; }
  .mammoth-minds #secondary-navigation {
    background-color: #E9ECEF; }
    .mammoth-minds #secondary-navigation > div {
      overflow: hidden; }
  .mammoth-minds footer {
    background-color: #343A40;
    color: #FFFFFF; }
    .mammoth-minds footer .col-7 {
      float: right; }
    .mammoth-minds footer .sub-footer {
      background-color: #212529;
      color: #FFFFFF; }
      .mammoth-minds footer .sub-footer .col-4 {
        float: right; }
  .mammoth-minds #homepage {
    width: 100%;
    /* Type Effect*/
    /* Cursor Effect */ }
    .mammoth-minds #homepage .typewriter span {
      display: inline-block;
      overflow: hidden;
      color: #E81D3F;
      border-right: 0.21429em solid #E81D3F;
      white-space: nowrap;
      margin: 0;
      padding: 5px 0;
      animation: blink-caret .75s step-end infinite; }
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #E81D3F; } }
    @media only screen and (min-width: 318px) and (max-width: 750px) {
      .mammoth-minds #homepage .desktop {
        display: none; }
      .mammoth-minds #homepage .visual-branding-graphics img {
        width: 80%;
        display: block;
        margin: 0 auto; }
      .mammoth-minds #homepage .hero-content img {
        display: none; }
      .mammoth-minds #homepage #services article {
        padding-bottom: 80px; }
        .mammoth-minds #homepage #services article img {
          width: 80%;
          margin: 0 auto;
          display: block; } }
    @media only screen and (min-width: 767px) {
      .mammoth-minds #homepage .mobile {
        display: none; }
      .mammoth-minds #homepage .web-customization-graphics img {
        width: 300px; }
      .mammoth-minds #homepage .visual-branding-graphics img {
        width: 280px; }
      .mammoth-minds #homepage .userinterface-development-graphics img, .mammoth-minds #homepage .illustration-graphic-design-graphics img {
        width: 260px; }
      .mammoth-minds #homepage .social-media-management-graphics img {
        width: 260px; }
      .mammoth-minds #homepage #hero-wrapper img {
        width: 55%;
        right: 0;
        top: 20px;
        margin-right: -40px;
        z-index: -1; }
      .mammoth-minds #homepage #hero-wrapper .sub-content {
        width: 600px; }
      .mammoth-minds #homepage #works .row .col-6 {
        width: 48%; } }
  @media only screen and (min-width: 318px) and (max-width: 750px) {
    .mammoth-minds #services .desktop {
      display: none; }
    .mammoth-minds #services section > article {
      padding-bottom: 80px; }
      .mammoth-minds #services section > article img {
        width: 80%;
        margin: 0 auto;
        display: block; }
      .mammoth-minds #services section > article:last-of-type {
        padding-bottom: 30px; }
    .mammoth-minds #services .visual-branding-graphics img {
      width: 80%;
      display: block;
      margin: 0 auto; } }
  @media only screen and (min-width: 767px) {
    .mammoth-minds #services {
      width: 100%; }
      .mammoth-minds #services .mobile {
        display: none; }
      .mammoth-minds #services section > article {
        padding-bottom: 130px; }
        .mammoth-minds #services section > article:last-of-type {
          padding-bottom: 30px; }
      .mammoth-minds #services .web-customization-graphics img {
        width: 300px; }
      .mammoth-minds #services .visual-branding-graphics img {
        width: 330px; }
      .mammoth-minds #services .userinterface-development-graphics img, .mammoth-minds #services .illustration-graphic-design-graphics img {
        width: 340px; }
      .mammoth-minds #services .social-media-management-graphics img {
        width: 300px; } }
  .mammoth-minds #about-us {
    width: 100%; }
    @media only screen and (min-width: 318px) and (max-width: 750px) {
      .mammoth-minds #about-us .desktop {
        display: none; }
      .mammoth-minds #about-us #process img {
        width: 80%;
        margin: 0 auto;
        display: block; } }
    @media only screen and (min-width: 767px) {
      .mammoth-minds #about-us .mobile {
        display: none; }
      .mammoth-minds #about-us #process img {
        width: 85%; } }
  .mammoth-minds #case-study {
    width: 100%; }
    @media only screen and (min-width: 318px) and (max-width: 750px) {
      .mammoth-minds #case-study .desktop {
        display: none; } }
    @media only screen and (min-width: 767px) {
      .mammoth-minds #case-study .mobile {
        display: none; } }

.modal-open {
  overflow: hidden; }

/*# sourceMappingURL=frontend.css.map */
