/* line 2, ../../sass/launch-page-new.scss */
#launch-page img {
  display: block;
  width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  /* line 9, ../../sass/launch-page-new.scss */
  #launch-page img {
    margin: 10% auto;
  }
  /* line 11, ../../sass/launch-page-new.scss */
  #launch-page #img-desktop {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  /* line 15, ../../sass/launch-page-new.scss */
  #launch-page img {
    width: 70%;
    margin: 0 auto;
  }
  /* line 19, ../../sass/launch-page-new.scss */
  #launch-page #img-mobile {
    display: none;
  }
}
