/* 
    Styles that can be used in different body sections

    Contents:
    - Icons alignment
    - Contact and newsletter subscribe background
    -
*/ 
.material-icons {
    vertical-align: middle;
}

.wrapper-background {
    background-image: linear-gradient(to right top, $brand-dark-blue, #17487c, #1d62a4, #1e7ece, $brand-light-blue);
}

.sub-content {
    width: 750px;
}


// Contact Us
#contact-us {
    @media only screen  and ( min-width: $tablet) {
        padding: 80px 0;
        
        .card {
            width: 700px;
            margin: 0 auto;
        }
    }
}

#works {
    background-color: $gray2; 
    
    article {
        img {
            width: 100%;
        }

        small {
            color: $gray6;
        }
    }
    .card-width {
        width: 75%;
    }
}

#secondary-navigation {
    background-color: $gray2;
    
    > div {
        overflow: hidden;
    }
}

// .contact-card {
//     background: url("../images/svg/contact-us.svg");
//     background-size: cover;
//     background-color: $blue-form;
//     color: $white;
//     padding-top: 30px;
//     padding-bottom: 45px;

//     .contact-content {        
//         margin: 0 auto;
//         padding: 20px;
//     }

//     @media screen and (min-width: $sm-desktop ) {
//         min-height: 500px;

//         .container {
//             max-width: 40rem;
//         }

//         .contact-content {
//             width: 36rem;
//             padding: 30px;
//         }

//         .contact-copy {            
//             h3 {
//                 font-size: 1.857142857142857em;
//             }
//         }
//     }

//     // Mobile
//     @media screen and (min-width: $sm-mobile) and (max-width: $sm-desktop) {
//         .container {
//             min-width: 0;
//         }

//         .contact-content {
//             margin: 20px 15px;

//             .large {
//                 width: 100%;
//             }
//         }

//         .contact-copy {
//             padding-left: 15px;
//             padding-right: 15px;
//         }
//     }
// }

// .modal {
//     display: none;
//     position: fixed;
//     z-index: 10;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     overflow: auto;
//     // background-color: rgb(0,0,0);
//     background-color: rgba(0,0,0, 0.8);

//     .modal-content{
//         background-color: $white;
//         margin: 15% auto;
//         padding: 20px;
//         border: 1px solid $gray2;
//         border-radius: 3px;

//         &.success {
//             width: 30%;
//         }
//     }

//     .close {
//         color: $gray7;
//         top: 10px;
//         right: 10px;
//     }

//     .check {
//         font-size: 3.428571429em;
//         color: $green;
//     }

//     // Mobile
//     @media screen and (min-width: $sm-mobile) and (max-width: $tablet) {

//         .modal-content {
//             &.success {
//                 width: 80%;
//             }
//         }
        
//     } 
// }
