/* Footer Styles */
footer {
	background-color: $gray8;
	color: $white;

	.col-7 {
		float: right;
	}

	.sub-footer {
		background-color: $black-2;
		color: $white;

		.col-4 {
			float: right;
		}
	}
}