/*  Styles for site head    */

#site-head {
    .logo-text {
    	font-family: 'Montserrat', sans-serif;
        color: $brand-dark-blue;        
    }

    @media only screen  and ( min-width: $sm-mobile) and (max-width: $l-mobile) {
        
        &.desktop { display: none; }

        #brand-logo {
            img {
                width: 2.142857143em;
                vertical-align: text-bottom;
            }
        }

        #menu-nav {
            &.modal {
                position: fixed;
                top: 0px;
                left: 0px;
                right: 0px;
                border: 0px;
                width: 100%;
                height: 100%;
                background: $white;
                z-index: 1;

                .close {
                    top: 20px;
                    right: 20px;
                }
            }

            nav {
                a { border-bottom: 1px solid $gray2; }        
            }
        }
    }

    @media only screen  and ( min-width: $tablet) {

        img { width: 50px; }
                
        nav {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: flex-start;
            align-content: stretch;

            a {
                margin-left: 25px;
                color: $gray7;

                &:hover {
                    border-bottom: 1px solid $gray8;
                    padding-bottom: 3px;
                    color: $gray8;
                }
            }
        }

        .active {
            border-bottom: 1px solid $gray8;
            padding-bottom: 3px;
            color: $gray8;
            font-weight: 700;
        }

        .logo-text {
            font-size: 20px;
        }

        #brand-logo {
            img { vertical-align: sub; }
            &:hover {
                border-bottom: none !important;
            }
        }

        &.mobile { display: none; }        
    }
}